{% extends 'base.html.twig' %}


{% block body %}
	{% for message in app.flashes('success') %}
		<div class="alert alert-success" role="alert">{{ message }}</div>
	{% endfor %}
	<div class="affichageRecette">
		<div class="row row-cols-1 row-cols-md-3">
			{% for categorie in categories %}
				<div class="col mb-4">
					<a href="{{ path('categorie', {'nom':categorie.nom})}}">
						<div class="card">
								<div class="card-body">
									<img class="img_categ" src="{{ asset('upload/images/categorie/'~ categorie.imgName) }}"></img>
									<h4 class="card-title">{{ categorie.nom}}</h4>
								</div>
						</div>
					</a>
				</div>
			{% endfor %}
		</div>
	</div>
		

{% endblock %}
