{% extends 'base.html.twig' %}


{% block body %}
	<h1>Les régions</h1>
	{% for region in regions %}
		<a href="{{ path('region_show', {'id': region.id}) }}">{{ region.nom }}</a>
	{% else %}
		<h2>Les régions ont disparus.</h2>
	{% endfor %}
{% endblock %}
